body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222;
    color: rgb(245, 250, 255);
}

nav {
    display: flex;
    flex-flow: row wrap;
}

.title_container {
    width: 100vw;
    min-height: 100vh;
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.title_name {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
}

.title_name h1 {
    font-size: 6rem;
}

.title_nav {
    flex-grow: 1;
    /* border: 1px solid blue; */
    padding: 1rem;
    margin: auto;
}

.title_nav a {
    display: block;
    color: inherit;
    background-color: #000;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    margin: 1rem auto;
    transition-duration: 200ms;
}

.title_nav a:hover {
    color: #000;
    background-color: #fff;
}

nav a {
    color: inherit;
    background-color: #000;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1rem;
    transition-duration: 200ms;
    flex-grow: 1;
    text-align: center;
    width: 20rem;
}

nav a:hover {
    color: #000;
    background-color: #fff;
}

.banner {
    padding: 6rem 2rem;
    box-sizing: border-box;
    background-color: #002;
    margin-bottom: 2rem;
    box-shadow: 0 0.1rem 0.2rem #000;
}

article {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #111;
    padding: 1rem 2rem;
    box-shadow: 0.1 0.1rem 0.2rem #000;
}

.banner h1 {
    font-size: 5rem;
    padding: 0 0 1rem 0;
    text-align: center;
    margin: 0 auto;
}

figure {
    margin: 2rem 0;
    text-align: center;
}

figure figcaption {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}